/* Variables */
:root {
  --color-1: #0e1738;
  --color-2: #333f73;
  --color-3: #bd6569;
  --color-3-dark: #69383a;
  --dark-color: #333;
  --light-color: #eee;
  --alert-not-found: #c7a036;
  --alert-blank-input: #d62f2f;
}

/* Global Settings */
* {
  font-family: "Gelasio", serif;
}

a:hover {
  text-decoration: none;
}

select option {
  background-color: var(--color-3);
  color: var(--light-color);
}

body {
  background-image: linear-gradient(var(--color-2), var(--color-1));
  min-height: 100vh;
  color: var(--light-color);
}

button:focus,
select:focus,
input:focus {
  outline: none;
}

/* About Page */
.about-page {
  margin-top: 1rem;
}

.about-page p {
  font-size: 1.4rem;
}

.about-page hr {
  border-color: var(--color-3);
}

.about-page a {
  color: var(--color-3);
}

/* Not Found Page */
.notfound-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notfound-page h1 {
  font-size: 4rem;
  color: var(--color-3);
  border-bottom: 2px solid var(--color-3);
}

/* Navbar */
.navbar {
  background-color: var(--color-3);
}

.navbar a {
  color: var(--color-1);
}

.navbar .brand {
  font-family: "Sacramento", serif;
  font-size: 2rem;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.search .brand {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search .search-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--light-color);
  color: var(--color-3);
}

.search .search-btn:hover {
  background-color: var(--color-3);
  color: var(--light-color);
  transition: 0.3s;
}

.search select,
.search input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background: none;
  color: var(--light-color);
  border: 2px solid var(--light-color);
  text-align: center;
}

.clear-btn {
  background: none;
  color: var(--color-3);
  border: none;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.clear-btn:hover {
  color: var(--color-3-dark);
  transition: 0.3s;
}

/* Loading */
.loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading .animation-wrapper {
  width: 300px;
  height: 300px;
  margin: 2rem 0;
  background-color: var(--color-2);
  border-radius: 50%;
  position: relative;
}

.loading .animation-wrapper .lipstick-mark {
  width: 162px;
  height: 162px;
  border: 10px solid var(--color-3);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 81px);
  left: calc(50% - 81px);
  z-index: 1;
  transform: rotateZ(-40deg);
  animation: loadingMark 0.7s ease-in-out infinite;
}

.loading .animation-wrapper .lipstick {
  animation: loading 0.7s ease-in-out infinite;
  width: 100%;
  height: 100%;
  position: relative;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 2;
}

.loading .animation-wrapper .lipstick .top {
  width: 30px;
  height: 50px;
  background-color: var(--color-3);
  border: 4px solid var(--color-3-dark);
  position: absolute;
  top: 75px;
  left: calc(50% - 15px);
  border-top-left-radius: 50%;
  border-top-right-radius: 10px;
}

.loading .animation-wrapper .lipstick .middle {
  width: 50px;
  height: 80px;
  background-color: var(--light-color);
  border: 4px solid var(--dark-color);
  position: absolute;
  top: 121px;
  left: calc(50% - 25px);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.loading .animation-wrapper .lipstick .bottom {
  width: 50px;
  height: 40px;
  background-color: var(--light-color);
  border: 4px solid var(--dark-color);
  position: absolute;
  top: 197px;
  left: calc(50% - 25px);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.loading .animation-wrapper .lipstick .top::before {
  content: "";
  width: 6px;
  height: 39px;
  background-color: #69383a86;
  position: absolute;
  top: 2px;
  right: 1px;
  border-top-right-radius: 5px;
}

.loading .animation-wrapper .lipstick .middle::before {
  content: "";
  width: 15px;
  height: 68px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2px;
  right: 2px;
  border-top-right-radius: 3px;
}

.loading .animation-wrapper .lipstick .bottom:before {
  content: "";
  width: 15px;
  height: 28px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 2px;
  right: 2px;
  border-bottom-right-radius: 3px;
}

/* Product List */
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* Alert */
.alert {
  width: 100%;
  font-size: 1.2rem;
}

.alert.not-found {
  background-color: var(--alert-not-found);
}

.alert.blank-input {
  background-color: var(--alert-blank-input);
}

/* Makeup Item */
.makeup-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: rgba(238, 238, 238, 0.5);
  color: #000;
}

.makeup-item img {
  width: 180px;
  height: 180px;
  border: 8px solid var(--color-3);
  border-radius: 50%;
  border-style: inset;
  margin-bottom: 1rem;
  margin: 0 auto 1rem auto;
  box-shadow: 0 3px 10px #000;
}

.makeup-item .title {
  color: var(--color-1);
}

.makeup-item .text {
  color: var(--color-2);
  margin-bottom: 0.5rem;
}

.makeup-item .details-btn {
  padding: 0.5rem;
  background-color: var(--color-3);
  border: none;
  width: 90%;
  color: var(--color-3-dark);
  text-transform: uppercase;
}

.makeup-item .details-btn:hover {
  background-color: #000;
  color: var(--color-3);
  transition: 0.3s;
}

/* Product Detail */
.detail {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.detail .detail-wrapper {
  background-color: var(--light-color);
  width: 90%;
  height: calc(100vh - 32px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail .detail-wrapper .close-detail-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--color-3);
}

.detail .detail-wrapper .close-detail-btn:hover {
  color: var(--color-2);
  transition: 0.3s;
}

.detail .detail-wrapper .detail-body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-3);
}

.detail .detail-wrapper .detail-body .left,
.detail .detail-wrapper .detail-body .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.detail .detail-wrapper .detail-body .left {
  border-right: 2px solid var(--color-2);
}

.detail .detail-wrapper .detail-body .right {
}

.detail .detail-wrapper .colors {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.detail .detail-wrapper .colors span {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

/* Animation */
@keyframes loading {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes loadingMark {
  0% {
    border-right-color: var(--color-2);
    border-bottom-color: var(--color-2);
    border-left-color: var(--color-2);
    border-top-color: var(--color-2);
  }
  25% {
    border-right-color: var(--color-3);
    border-bottom-color: var(--color-2);
    border-left-color: var(--color-2);
    border-top-color: var(--color-2);
  }
  50% {
    border-right-color: var(--color-3);
    border-bottom-color: var(--color-3);
    border-left-color: var(--color-2);
    border-top-color: var(--color-2);
  }
  75% {
    border-right-color: var(--color-3);
    border-bottom-color: var(--color-3);
    border-left-color: var(--color-3);
    border-top-color: var(--color-2);
  }
  100% {
    border-right-color: var(--color-3);
    border-bottom-color: var(--color-3);
    border-left-color: var(--color-3);
    border-top-color: var(--color-3);
  }
}

/* Media Queries */
@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
  }

  .search .brand,
  .search .product-type,
  .search .min-price,
  .search .max-price {
    border-bottom: none;
  }

  .search .brand {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .search .search-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--light-color);
    color: var(--color-3);
  }

  .clear-btn {
    width: 100%;
    background-color: var(--light-color);
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .makeup-item img {
    width: 120px;
    height: 120px;
  }

  .detail .detail-wrapper .detail-body {
    display: flex;
    flex-direction: column;
  }

  .detail .detail-wrapper .detail-body img {
    width: 250px;
    height: 250px;
  }
  .detail .detail-wrapper .detail-body .left,
  .detail .detail-wrapper .detail-body .right {
    padding: 0.1rem;
  }
  .detail .detail-wrapper .detail-body .left {
    border-right: none;
  }

  .detail .detail-wrapper .colors {
    margin-top: 0;
  }

  .detail .detail-wrapper .colors span {
    margin-right: 0.1rem;
  }
}
